# WordPress Core - do not track
/wp-admin/
/wp-includes/
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php


# Ignore WordPress core files
#/wp-admin/
#/wp-includes/

/# Ignore WordPress content files that should not be versioned
wp-content/uploads/
/wp-content/cache/
/wp-content/backups/
/wp-content/upgrade/
/wp-content/themes/your-theme-name/node_modules/
/wp-content/plugins/
# Ignore custom configuration files
# wp-config.php
#wp-config-sample.php
wp-config.php
# Ignore log files
*.log

.htaccess

# Ignore temporary files
*.swp
*.bak
*.tmp

# Ignore IDE files (e.g., Visual Studio Code, PHPStorm)
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore composer lock if you're using composer for dependencies (unnecessary for most WordPress setups)
composer.lock

# Ignore any other local configuration files or temporary files that don't need to be versioned
*.local
*.env